*{
    background-color: black;
    color:white;
}

.top_title{
    display: block;
    text-align: center;
    padding: 5px;
    font-size: 13px;
    z-index:1; /*css에서 z-index란, 요소가 겹쳤을때 무엇을 맨 위로 올릴지에 대한 속성임.[1이 작음]*/
}

a{
    color:white;
    text-decoration: none;
    font-family: 'Times New Roman', Times, serif;
}
a:hover{
    color:white;
}

.logo {
    position: relative;
}

.menu{
    position: fixed;
    left: 0;
    width: 20%;
    height: 100%;
    float: left;
    background-color: gray;
    z-index:2; /*css에서 z-index란, 요소가 겹쳤을때 무엇을 맨 위로 올릴지에 대한 속성임.[1이 작음]*/
    top:0px;
    padding-top: 200px;
}

.menu_button{
    position: fixed;
    left: 0;
    width: 50px;
    height: 50px;
    background-color: white;
    z-index:8; /*css에서 z-index란, 요소가 겹쳤을때 무엇을 맨 위로 올릴지에 대한 속성임.[1이 작음]*/   
    top:20px;
    color: black;
}

.sidebar{
    background-color: antiquewhite;
    width: 20%;
    height: 100%;
    position: absolute;
    left: 0;
    padding-top: 10%;
    z-index:5;
}

.sidebar-item{
    font-size: 20px;
    margin-top: 25px;
    margin-bottom: 25px;
}