*{ /*모든스타일*/
    background-color: white;
    color:gray;
    font-family: 'Times New Roman', Times, serif;
}

a{ /*링크스타일*/
    color:white;
    text-decoration: none;
}
a:hover{/*링크 hover스타일*/
    color:white;
}

.menu_button{ /*메뉴 토글버튼*/
    position: fixed;
    left: 0;
    width: 50px;
    height: 50px;
    background-color: white;
    z-index:3; /*css에서 z-index란, 요소가 겹쳤을때 무엇을 맨 위로 올릴지에 대한 속성임.[1이 작음]*/   

    color: black;
}

.sidebar{ /*메뉴*/
    
    background-color: black;
    width: 20%;
    height: 100%;
    position: fixed;
    left: 0;
    padding-top: 10%;
    z-index:2;
}

.sidebar-item{ /*메뉴 각 요소 스타일*/
    background-color: black;
    color: white;
    font-size: 20px;
    margin-top: 25px;
    margin-bottom: 25px;
}

.aboutus{
    width: 100%;
    margin: auto;
}

.footer{
    background-color: darkolivegreen;
    color: black;
}
