@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300&display=swap');
* {
    /*모든스타일*/
    background-color: white;
    color: gray;
    font-family: 'Noto Sans KR', sans-serif;
}
ul, ol, li {
    list-style: outside none none;
}
a {
    /*링크스타일*/
    color: gray;
    text-decoration: none;
}

a:hover {
    /*링크 hover스타일*/
    color: black;
}

.menu_button {
    /*메뉴 토글버튼*/
    position: fixed;
    margin-top: 3px;
    left: 5px;
    width: 50px;
    height: 50px;
    background-image: url( "../images/icon/menu.png" );

    background-size: cover;
    border: none;
    z-index: 3;
    /*css에서 z-index란, 요소가 겹쳤을때 무엇을 맨 위로 올릴지에 대한 속성임.[1이 작음]*/

    color: black;
}

.sidebar {
    /*메뉴*/
    transition: 0.5s;
    background-color: black;
    width: 20%;
    height: 100%;
    position: fixed;
    left: 0;
    padding-top: 10%;
    z-index: 6;
    top:0;
}

.sidebarcover{
    position: fixed;
    background-color: black;
    width: 100%;
    height: 100%;
    top:0;
    z-index: 5;
    opacity:0.4;
}

.sidebar-item {
    /*메뉴 각 요소 스타일*/
    background-color: black;
    color: white;
    font-size: 20px;
    margin-top: 25px;
    margin-bottom: 25px;
}

.aboutus {
    width: 100%;
    margin: auto;
}

.header {
    position: absolute;
    width: 100%;
}

.footer {
    width: 100%;
    border:  solid black 30px;
    background-color: black;
    margin-top: 100px;
}

input {
    width: 500px;
    height: 32px;
    font-size: 15px;
    border: 0;

    border-bottom: 1px solid lightgray;
    padding-left: 10px;
    margin-top: 5px;
  }

  input#all-check{
    width: 20px;
    margin:-4px 0 0 0; 
    vertical-align:middle; /*위아래마진잡기*/
    }

    input#check1{
        width: 15px;
        margin:-4px 0 0 0; 
        vertical-align:middle; /*위아래마진잡기*/
    }

sub {
    vertical-align:middle; /*위아래마진잡기*/

}

input {
    margin-top: 9px;
}

button {
    border: 0;
    outline: 0;
}


.detailshopping{
    transition: 0.5s;
}

.detailsize{
    width:100%;
    height: 120%;

    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    top:0;
    left: 0;
    z-index: 10;
    text-align: center;
}

.subdetailsize{
    background-color: white;
    width: 45%;
    height: 85%;
    display: inline-block;
    opacity: 100%;
}

.sizeclosebutton{
    width: 40px;
    height: 40px;
    background-image: url( "../images/icon/closebutton.png" );
    background-size: cover;
    margin: 10px;
}

.black_button{
    background-color: black;
    color: white;
    width:190px;
    height:50px;
    font-size: 13px;
    margin: 1px;    
}
.white_button{
    background-color: white;
    border: 1px solid lightgray;
    width:190px;
    height:50px;
    font-size: 13px;
    margin: 1px;
    margin-top: 0;
}

.usericon{
    position: fixed;
    width:80px;
    height:80px;
    left: 95%;
    top:35px;
    background-color: red;
}

.itemaddcart{
    height: 80px;
    padding-top: 15px;
    background-color: rgba( 0, 0, 0, 0.7 ); /*opacity로 넣으면 글자까지투명*/
    width: 40%;
    position: absolute;
    left: 60%;
    bottom: 0;
    color: white;
    font-size: 30px;
    border-radius: 20px 0 0 0;

}

/* UserInterface.css */




/* all.js */

.all .product-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 3%;
    margin-bottom: 3%;
}

.all .product-item img {
    max-width: 100%;
    height: auto;
}

/* all.js */



/* login.js */

.login {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 95vh;
    background-color: #f0f0f0;
    overflow: hidden;
}

.login form {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.login h2 {
    margin-bottom: 20px;
}

.login input {
    margin-top: 5px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    color: black;
}

.login button {
    width: 200px;
    padding: 10px;
    margin-top: 20px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.login button:hover {
    background-color: #0056b3;
}

/* login.js */


/* Footer.js*/
#f-grid, .bi{
    background-color: black;
}
.f-text a, .f-text {
    background-color: black;
    text-align: left;
}

/* aboutus.js */
.empty{
    height: 100px;
}
.About-div{
    margin: 300px;
    margin-top: 0px;
}
.ab-1{
    height: 700px;
  }  
.ab-titles{
  text-align: left;
}
.ab-hr{
  height: 3px;
  background-color: black;
  color: black;
}
.ab-intro{
    float: right;
    text-align: left;
    margin-right: 100px;
}
.ab-main{
    height: 1600px;
}


.bi-github{
    background-color: white;
    width: 100px;
}
#p0, #p1, #p2{
    position: absolute;
    width: 600px;
    height: 500px;
    padding: 50px;
    padding-top: 20px;
    padding-bottom: 80px;
    background-color: rgb(255, 255, 255);
}
#p0 {
    top: 1000px;
    left: 250px;
}
#p1 {
    top: 1400px;
    right: 300px;
}
#p2 {
    top: 1900px;
    left: 300px;
    height: 250;
}
#t {
    line-height: 1.5;
    color: black;
    font-size: 25px;
    text-align: left;
}
.gitcon{
    text-align: center;
    position: absolute;
    bottom: -1650px;
    left: 49%;
}


/*Main.js */
.main{
    margin: 250px;
    margin-top: 0px;
}
.main-main{
    height: 900px;
}
.main-slide, .main-slice{
    height: 450px;
}
.left-content,
.right-content {
  position: absolute;
  top: 1000px;
  width: 0;
  height: 300px;
  background-color: rgba(0,0,0,0.7);
  border:rgba( 0, 0, 0, 0) solid 50px;
  overflow: hidden;
  transition: width 0.3s;
}
#main-t{
    color: white;
    background-color: rgba(0,0,0,0);
}

.left-content {
  left: 40%;
  text-align: right;
}

.right-content {
  right: 60%;
  text-align: left;
}

.right-hovered .left-content
{
  width: 25%;
}
.left-hovered .right-content 
{
    width: 25%;
}

.imgLogo {
    width: 250px;
    height: 250px;
    position:absolute;
}

.iL1{
    top: 1000px;
    right: 660px;
}
.iL2 {
    top: 1000px;
    left: 260px;
}
.Naming{
    position: absolute;
    top: 995px;
    right: 305px;
    height: 310px;
    width: 300px;
    border: black solid 50px;
}
.Naming, .Naming h1{
    background-color: black;
    color: white;
    font-weight: bold;
}