* {
    /*모든?��????��*/
    background-color: white;
    color: gray;
    font-family: 'Times New Roman', Times, serif;
}

a {
    /*링크?��????��*/
    color: white;
    text-decoration: none;
}

a:hover {
    /*링크 hover?��????��*/
    color: white;
}

.menu_button {
    /*메뉴 ?���?버튼*/
    position: fixed;
    margin-top: 3px;
    left: 5px;
    width: 50px;
    height: 50px;
    background-image: url( "../images/icon/menu.png" );

    background-size: cover;
    border: none;
    z-index: 3;
    /*css?��?�� z-index???, ?��?���? 겹쳤?��?�� 무엇?�� �? ?���? ?��릴�???�� ????�� ?��?��?��.[1?�� ?��?��]*/

    color: black;
}

.sidebar {
    /*메뉴*/
    transition: 0.5s;
    background-color: black;
    width: 20%;
    height: 100%;
    position: fixed;
    left: 0;
    padding-top: 10%;
    z-index: 6;
    top:0;
}

.sidebarcover{
    position: fixed;
    background-color: black;
    width: 100%;
    height: 100%;
    top:0;
    z-index: 5;
    opacity:0.4;
}

.sidebar-item {
    /*메뉴 �? ?��?�� ?��????��*/
    background-color: black;
    color: white;
    font-size: 20px;
    margin-top: 25px;
    margin-bottom: 25px;
}

.aboutus {
    width: 100%;
    margin: auto;
}

.header {
    position: absolute;
    width: 100%;
}

.footer {
    width: 100%;
    border:  solid black 30px;
    background-color: black;
    margin-top: 100px;
}

/* UserInterface.css */




/* all.js */

.all .product-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 3%;
    margin-bottom: 3%;
}

.all .product-item img {
    max-width: 100%;
    height: auto;
}

/* all.js */



/* login.js */

.login {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 95vh;
    background-color: #f0f0f0;
    overflow: hidden;
}

.login form {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.login h2 {
    margin-bottom: 20px;
}

.login input {
    margin-top: 5px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    color: black;
}

.login button {
    width: 200px;
    padding: 10px;
    margin-top: 20px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.login button:hover {
    background-color: #0056b3;
}

/* login.js */



/* aboutus.js */
.About-div{
    height: 1000px;
}

/* Footer.js*/
#f-grid, .bi{
    background-color: black;
}
.f-text a, .f-text {
    background-color: black;
    text-align: left;
}