.swiper {
  background-color: black;
  color: white;
    width: 100%;
    height: 100%;
    font-size: 13px;
    z-index:1; /*css에서 z-index란, 요소가 겹쳤을때 무엇을 맨 위로 올릴지에 대한 속성임.[1이 작음]*/
    pointer-events : none;
  }

  .swiper_close {
    background-color: black;
    color: white;
      width: 100%;
      height: 0;
      font-size: 13px;
      z-index:1; /*css에서 z-index란, 요소가 겹쳤을때 무엇을 맨 위로 올릴지에 대한 속성임.[1이 작음]*/
      
  
    }
  
  .swiper-slide {
    font-size: 15px;
    padding-top: 4px;
    padding-bottom: 4px;
    background-color: black;
    color: white;
    text-align: center;
    justify-content: center;
    align-items: center;
  }