*{
    background-color: black;
    color:white;
}

.top_title{
    display: block;
    text-align: center;
    padding: 5px;
    font-size: 13px;
}

a{
    color:white;
    text-decoration: none;
    font-family: 'Times New Roman', Times, serif;
}
a:hover{
    color:white;
}

.logo {
    display: inline;
    padding: 80px;
    font-size: 120px;
    background-color: gray;

}

.menu{
    width: 70%;
    float:right;
    text-align: right;
    background-color: gray;
}

.menu_button{
    position: fixed;
    width: 50px;
    height: 50px;
}

.detail_menu{
    background-color: red;
    display: inline;
    padding-left: 20px;
    padding-right: 20px;
}

.logo_img{

}